.verification {

display: flex;

cursor: pointer;

align-items: center;

justify-content: space-between;

gap: 1rem;

border-radius: 0.25rem;

border-width: 3px;

--tw-border-opacity: 1;

border-color: rgb(243 244 247 / 1);

padding-left: 1rem;

padding-right: 1rem;

padding-top: 0.5rem;

padding-bottom: 0.5rem
}

@supports (color: rgb(0 0 0 / 0)) {
.verification {

border-color: rgb(243 244 247 / var(--tw-border-opacity))
}
}
.verification__no_clickable {

cursor: default
}
.verification__container > :not([hidden]) ~ :not([hidden]) {

--tw-space-y-reverse: 0;

margin-top: calc(2rem * calc(1 - 0));

margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));

margin-bottom: calc(2rem * 0);

margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}
.verification__container-title {

margin-bottom: 2rem;

margin-top: 4rem;

font-weight: 600;

text-transform: uppercase;

--tw-text-opacity: 1;

color: rgb(62 76 92 / 1)
}
@supports (color: rgb(0 0 0 / 0)) {
.verification__container-title {

color: rgb(62 76 92 / var(--tw-text-opacity))
}
}
.verification__container-title:first-child {

margin-top: 0px
}
.verification__icon {

height: 2rem;

width: 2rem;

flex: none;

fill: currentColor;

color: #6B7280CC
}
.verification__icon.is-granted {

--tw-text-opacity: 1;

color: rgb(var(--success-rgb) / 1);

color: rgb(var(--success-rgb) / var(--tw-text-opacity))
}
.verification__text {

flex-grow: 1
}
.verification__text > :not([hidden]) ~ :not([hidden]) {

--tw-space-y-reverse: 0;

margin-top: calc(0.625rem * calc(1 - 0));

margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));

margin-bottom: calc(0.625rem * 0);

margin-bottom: calc(0.625rem * var(--tw-space-y-reverse))
}
.verification__text span {

display: inline-block;

font-size: 14px;

line-height: 18px;

--tw-text-opacity: 1;

color: rgb(62 76 92 / 1)
}
@supports (color: rgb(0 0 0 / 0)) {
.verification__text span {

color: rgb(62 76 92 / var(--tw-text-opacity))
}
}
.verification__upload-button {

margin-top: 1rem;

display: block;

width: 100%
}
.verification:not(.verification__no_clickable):hover {

--tw-border-opacity: 1;

border-color: rgb(var(--tertiary-rgb) / 1);

border-color: rgb(var(--tertiary-rgb) / var(--tw-border-opacity))
}
.verification:not(.verification__no_clickable):hover .verification__text > :first-child {

text-decoration-line: underline
}
.verification-modal__text {

margin-top: 2rem;

margin-bottom: 3rem
}
.verification-modal__text > :not([hidden]) ~ :not([hidden]) {

--tw-space-y-reverse: 0;

margin-top: calc(2rem * calc(1 - 0));

margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));

margin-bottom: calc(2rem * 0);

margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}
.verification-modal__text {

font-size: 18px;

line-height: 23px;

--tw-text-opacity: 1;

color: rgb(62 76 92 / 1)
}
@supports (color: rgb(0 0 0 / 0)) {
.verification-modal__text {

color: rgb(62 76 92 / var(--tw-text-opacity))
}
}
.verification-modal__text ul,
.verification-modal__text ol {

list-style-type: disc;

padding-left: 1rem
}
.verification-modal__name {

margin-bottom: 0.5rem;

display: block;

font-size: 20px;

line-height: 25px;

font-weight: 600
}

/*# sourceMappingURL=decidim_verifications-3f64b2a6.css.map*/